<section class="section">
  <div class="container">
    <h1 class="title">Form</h1>

    <div class="content">
      <p>A form with validation that doesn't require a full page load.</p>
    </div>
  
    <div class="box" style="max-width: 650px">
      <form class="form" data-live-change="formChange">
        <div class="field">
          <label class="label" for="name">Name</label>
          <div class="control">
            <input class="input" name="name" id="name" type="text" value="{{name}}">
          </div>
        </div>
        <div class="field">
          <label class="label" for="email">Email</label>
          <div class="control">
            <input class="input {{#if validationErrors.email}}is-danger{{/if}}" name="email" id="email" type="email" value="{{email}}">
          </div>
          {{#if validationErrors.email}}
            <p class="help is-danger">{{validationErrors.email}}</p>
          {{/if}}
        </div>
        <div class="field">
          <label class="label" for="phone-number">Phone Number</label>
          <div class="control">
            <input class="input {{#if validationErrors.phoneNumber}}is-danger{{/if}}" name="phoneNumber" id="phone-number" type="tel" value="{{phoneNumber}}">
          </div>
          {{#if validationErrors.phoneNumber}}
            <p class="help is-danger">{{validationErrors.phoneNumber}}</p>
          {{/if}}
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-primary">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
