<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {{#if title}}
        {{title}} — Live Render Prototype
      {{else}}
        Live Render Prototype
      {{/if}}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>

    {{!-- Include livereload script for automatic code reloading in development --}}
    {{#if env.development}}
      <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}

    <script defer>
      (function() {
        var globals = window.application = window.application || {};
        var precompiled = globals.precompiled = globals.precompiled || {};
        {{#each precompiledPartials}}
          precompiled['{{@key}}'] = {{{this}}};
        {{/each}}
      })();
    </script>
    <script defer src="/assets/main.js"></script>
  </head>

  <body>
    <nav class="navbar is-primary">
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item {{#if nav.counter}}is-active{{/if}}" href="/counter">Counter</a>
          <a class="navbar-item {{#if nav.eventStream}}is-active{{/if}}" href="/event-stream">Event Stream</a>
          <a class="navbar-item {{#if nav.form}}is-active{{/if}}" href="/form">Form</a>
        </div>
      </div>
    </nav>

    {{{body}}}
  </body>
</html>